:root {
  --main-text-color: #555555;
  --accent-text-color: #ff6c00;
  --main-backbround-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --main-title-color: #303030;
  --secondary-title-color: #ffffff;
  --hero-text-color: #9da4bd;
  --temp-background-color: #191c26;
  --secondary-pretitle-color: rgba(157, 164, 189, 0.6);
  --booking-section-color: #191c26;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-backbround-color);
}

/* * {
  outline: 1px solid red;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  min-width: 1200px;
  padding: 120px 0;
}

.title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1669;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

.pre-title {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.365;
  text-transform: uppercase;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.pre-text {
  line-height: 1.6667;
}

.booking-btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.334;

  text-transform: uppercase;
  background-color: var(--main-backbround-color);
  cursor: pointer;

  padding: 11px 19px;

  border: 1px solid var(--accent-text-color);
  border-radius: 25px;
}

.booking-btn:hover,
.booking-btn:focus {
  color: var(--secondary-title-color);
  background-color: var(--accent-text-color);
}

/* header */
header.section {
  padding-top: 20px;
  padding-bottom: 0;
}

.header-wrap {
  display: flex;
}

/* Logo */
.logo {
  padding-top: 32px;
  padding-right: 32px;
}

/* nav */
.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;

  padding-left: 100px;
  padding-right: 20px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--secondary-title-color);
  background-color: var(--temp-background-color);
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list .current {
  color: var(--accent-text-color);
}

.nav-link {
  color: inherit;
}

.contacts-wrap {
  margin-left: auto;
}

.nav .booking-btn {
  margin-left: 40px;

  background-color: inherit;
  color: var(--main-backbround-color);
}

.nav .booking-btn:hover,
.nav .booking-btn:focus {
  background-color: var(--accent-text-color);
}

/* hero section */
.hero {
  color: var(--hero-text-color);
}

.hero.section {
  padding: 0;
}

.hero .container {
  display: flex;
}

.hero-wrap {
  flex-grow: 1;

  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 208px;

  background-color: var(--temp-background-color);
  background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../img/slider/slider-img-3.jpg');
  background-size: cover;
  background-position: center;
}

.hero-contacts {
  display: flex;
  gap: 40px;
  align-items: center;

  padding-left: 51px;
  padding-right: 20px;
  padding-top: 140px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;

  background-color: var(--main-backbround-color);
}

.hero-contacts .item:first-child {
  display: flex;
  align-items: center;
}
.hero-contacts .item:first-child::before {
  content: '';

  width: 1px;
  height: 60px;
  background: currentColor;
  margin-bottom: 40px;
}

.hero-contacts-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-title-color);
}

.hero .pre-title {
  margin-bottom: 20px;

  color: var(--secondary-pretitle-color);
}

.hero .title {
  margin-bottom: 20px;

  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

/* about section */
.about .container {
  display: flex;
  gap: 30px;
}

.about .photo-list {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

.about-wrap {
  padding-right: 100px;
}

.about .pre-text {
  margin-bottom: 20px;
}
.about .about-text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.858;
}

/* prices section */
.prices {
  max-width: 1600px;
  margin: 0 auto;
  color: var(--hero-text-color);
  background-color: var(--temp-background-color);
  background: url('../img/background-prices.png'), linear-gradient(#111319, #111319);
  background-size: cover;
  background-repeat: no-repeat;
}

.prices .pre-title {
  color: var(--secondary-pretitle-color);
}

.prices .title {
  margin-bottom: 44px;

  color: var(--secondary-title-color);
}

.prices .price-list {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}

.prices .price-part:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices .price-part:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices .price-part {
  flex-basis: calc((100% - 30px) / 2);
  padding: 30px 20px;
}

.prices .price-row {
  display: flex;
  align-items: baseline;
}

.prices .price-row::after {
  content: '';
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 12px;
}

.price-row > p:last-child {
  margin-left: auto;
  order: 1;
}

.prices .booking-btn {
  display: block;
  margin: 0 auto;

  color: var(--secondary-title-color);
  background-color: inherit;
}

.prices .booking-btn:hover,
.prices .booking-btn:focus {
  background-color: var(--accent-text-color);
}

/* why-us section */
.why-us .container {
  display: flex;
  gap: 30px;

  padding-right: 70px;
}

.why-us .stat-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;

  padding-left: 100px;
  padding-right: 70px;
}

.stat-wrap .list-item {
  padding: 20px 24px;

  flex-basis: 170px;
  height: 133px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.stat-wrap .list-item:nth-child(even) {
  margin-top: 30px;
}

.why-us-part {
  flex-basis: calc((100% - 30px) / 2);
}

.stat {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3572;
  letter-spacing: 0.05em;
  color: var(--main-title-color);

  position: relative;
}

.plus {
  position: absolute;
  top: 7px;

  font-size: 16px;
  font-weight: 600;
  color: var(--accent-text-color);
}

.stat-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

/* Barbers section */

.barbers {
  background-color: var(--secondary-background-color);
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  flex-basis: calc((100% - 60px) / 3);
  text-align: center;
}

.barber-title {
  line-height: 1.38;
  color: var(--main-title-color);
}
.barber-style {
  font-size: 14px;
  line-height: 1.35;
  color: var(--accent-text-color);
}

.barber-img {
  margin-bottom: 30px;
}

.barber-title {
  margin-bottom: 8px;
}

.barber-style {
  margin-bottom: 30px;
}

.barber-social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.barber-social .link {
  display: flex;
  width: 44px;
  height: 44px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--main-backbround-color);
}

.barber-social .link:hover .barber-social .social-img,
.barber-social .link:focus .barber-social .social-img {
  fill: var(--accent-text-color);
}

.barber-social .social-img {
  fill: currentColor;
}

/* Portfolio section */

.portfolio .pre-title {
  margin-bottom: 44px;
}

.portfolio-wrap {
  display: flex;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 90px) / 4);
}

/* pre-footer */

.pre-footer {
  display: flex;
  gap: 30px;

  background-color: var(--temp-background-color);
  width: 1600px;
  width: 1600px;
  margin: 0 auto;
}

.pre-footer-part {
  flex-basis: calc(100% / 2);
  padding-top: 120px;
  padding-bottom: 130px;
}

.contacts-background {
  background: url(../img/background-contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pre-footer-wrap {
  display: flex;
  gap: 30px;
  padding-top: 130px;
  padding-bottom: 120px;
}

.pre-footer-item {
  width: 600px;
}

.pre-footer-item.online-booking {
  margin-left: auto;
  padding-left: 15px;
}

.pre-footer-item.contacts {
  margin-right: auto;
  padding-right: 15px;
  padding-left: 100px;
}

/* Online booking section */
.online-booking {
  background-color: var(--booking-section-color);
}

.online-booking .title {
  color: var(--secondary-title-color);
}

/* Contacts section  */
.contacts {
  color: var(--hero-text-color);
}

.contacts .title {
  margin-bottom: 40px;

  color: var(--secondary-title-color);
}

.contacts .pre-title {
  color: var(--secondary-title-color);
}

.contacts .pre-title::before {
  background-color: var(--hero-text-color);
}

.contacts .list {
  width: 230px;
}

.contacts .item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts .item:last-child {
  margin-bottom: 40px;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: inherit;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}

.contacts .location {
  font-weight: 700;
}

.contacts .contacts-icon {
  fill: currentColor;
  margin-right: 16px;
}

.location .contacts-icon {
  position: relative;
  top: -14px;
}

/* footer */
.footer {
  padding: 56px 215px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--hero-text-color);
}

footer .list {
  display: flex;
  align-items: center;
  gap: 40px;
}

footer .item:first-child {
  display: flex;
  align-items: center;
}
footer .item:first-child::before {
  content: '';

  width: 60px;
  height: 1px;
  background: currentColor;
  margin-right: 40px;
}

footer .link {
  font: inherit;
  color: var(--main-title-color);
}
