/* .nav {
  display: flex;
  flex-grow: 1;
  align-items: center;

  padding-left: 100px;
  padding-right: 20px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--secondary-title-color);
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list .current {
  color: var(--accent-text-color);
}

.nav-link {
  color: inherit;
} */
