$main-text-color: #555555;
$accent-text-color: #ff6c00;
$main-backbround-color: #ffffff;
$secondary-background-color: #f7f7f7;
$main-title-color: #303030;
$secondary-title-color: #ffffff;
$hero-text-color: #9da4bd;
$temp-background-color: #191c26;
$secondary-pretitle-color: rgba(157, 164, 189, 0.6);
$booking-section-color: #191c26;
$transition-barbers: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-global: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
